@use "sass:math";
@import "../base";
@import "./node_modules/drowl-sass-base/modules/drowl_layouts/admin";

// ============================================================================
// Layout Paragraphs UI
// ============================================================================

.lp-builder {
  // Show decent borders also if the user dont hovers the section
  .js-lpb-component {
    padding: 10px !important;
    outline: 1px solid var(--drowl-info-light) !important;
    &:hover {
      outline: 1px solid var(--drowl-info) !important;
    }
  }
  .js-lpb-region {
    padding: 10px !important;
    outline: 2px dashed var(--drowl-info-light) !important;
    .js-lpb-component:hover & {
      &:hover {
        outline: 2px dashed var(--drowl-info) !important;
      }
    }
    &.drag-target {
      outline: 2px dashed var(--drowl-success) !important;
    }
  }

  .js-lpb-component {
    &.lpb-layout {
      // Layout Paragraphs
      padding: 20px 10px !important;
      + .js-lpb-component.lpb-layout {
        margin-top: 0.5rem;
      }
    }
    &:not(.lpb-layout) {
      // Regular Paragraphs
      padding: 0.5rem;
      margin-bottom: 0.5rem !important;
      &:last-child,
      &:last-of-type {
        margin-bottom: 0 !important;
      }
    }
    // Fix layout containers with our fancy-background option set.
    // The .fancy-background class sets position:static !important,
    // this will destroy the LP UI.
    &.fancy-background-image {
      position: relative !important;
    }
  }
  .js-lpb-region {
    padding: 0.5rem;
    // Ensure the [+] button is visible if the region is empty
    min-height: 80px !important;
  }

  // Paragraph type label inside the components option bar
  // prevent linebreak and ensure text width is limited
  .lpb-controls-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--drowl-text-color);
    max-width: 170px;
    // Move the label to the end of the controls so in columns with very few width
    // the label gets cut off, instead the very important control buttons.
    order: 999;
  }
  .lpb-controls {
    &.is-layout {
      // Fix positioning - more safe approach, without fixed values (originaly negative top value)
      top: 0 !important;
      transform: translateY(-100%);
      .lpb-controls-label {
        color: white;
      }
    }
  }
  .lpb-controls-label {
    padding-right: 13px !important;
  }

  // ============================================================================
  // Layout Paragraphs Preview
  // ============================================================================

  .layout {
    > .js-lpb-region,
    > .grid-x {
      &:not(:last-child) {
        margin-top: 0 !important;
        margin-bottom: 0.5rem !important;
      }
    }
  }
  .grid-x {
    // Prevent collapsing outlines
    margin-block: 10px !important;
  }
}

// ============================================================================
// Paragraph ADD-Modal Dialog
// ============================================================================

.lpb-dialog {
  width: 90% !important;
  max-width: 960px !important;
  * {
    box-sizing: border-box;
  }
  .ui-dialog-content {
    // Define custom padding - so we can calculate with this reliable value
    padding: 1rem !important;
  }
  .lpb-component-list {
    &__search {
      margin: 0 -1rem;
      padding: 0 1rem 1rem 1rem;
      border-bottom: 1px solid var(--drowl-gray-light, #eee);
      .lpb-component-list-search-input {
        padding: 0.5rem;
        width: 100%;
        border-radius: var(--drowl-border-radius-small);
        border: 1px solid var(--drowl-gray-medium, #ccc);
      }
    }
    &__group {
      // Layout paragraphs doesnt follow the BEM standard here
      // so we use a wildcard selector to ensure the styles will work
      // even if they fixed the naming.
      > [class*="lpb-component-list__group"] {
        width: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap: 0.5rem;
        margin: 0 -1rem !important;
        padding: 1rem 1rem 1rem;
        + [class*="lpb-component-list__group"] {
          border-top: 1px solid var(--drowl-gray-light, #eee);
        }
      }
    }
    &__item {
      a {
        margin: 0;
        height: 100%;
        padding: 0.5rem 0.25rem;
        flex-direction: column;
        justify-content: center;
        line-height: 1.1;
        text-align: center;
        border: 1px solid var(--drowl-gray-light);
        color: var(--drowl-text-color);
        img {
          margin: 0 0 0.35rem 0;
          max-width: 95px;
          transform: scale(0.9);
          transition-duration: 100ms;
          transition-timing-function: linear;
          transition-property: transform;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        }
        &:hover,
        &:focus-within {
          border-color: var(--drowl-green);
          img {
            transform: scale(1);
          }
        }
      }
    }
  }
}

// ============================================================================
// Layout Configuration Dialog (Layout selection, ...)
// ============================================================================

.layout-paragraphs-component-form {
  #layout-paragraphs-element {
    > fieldset:first-child {
      margin-top: 0;
    }
    > fieldset[data-drupal-selector="edit-layout-paragraphs-layout"] {
      > .fieldset__legend {
        display: none;
      }
    }
  }
  .layout-select {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 10px;
    // margin-top: var(--space-md, 1rem);
    &__item {
      margin: 0 !important;
      height: 100%;
      .form-item__label.option {
        box-sizing: border-box !important;
        align-items: center;
        height: 100%;
        margin: 0;
      }
      &:hover input + label,
      input:checked + label {
        outline-color: var(--drowl-green) !important;
      }
    }
    .layout-icon[class*="drowl"] {
      .layout-icon__region {
        fill: white !important;
        stroke: var(--drowl-green) !important;
      }
    }
  }
}
