@use "sass:math";
@import "../base";
@import "./node_modules/drowl-sass-base/modules/drowl_layouts/admin";

:root {
  --layout-settings-field-image-width: 65px;
  --layout-settings-grid-gutter-half: 15px;
}

/* Paragraph settings fieldset */
details[id*="paragraph-settings"] {
  > summary {
    background: var(--drowl-green);
    border-color: var(--drowl-green);
    color: white !important;
    &:hover {
      color: white !important;
      background: var(--drowl-green-dark);
      border-color: var(--drowl-green-dark);
    }
    &:focus::after {
      box-shadow: inset 0 0 0 3px var(--drowl-green-dark);
    }
    &::before {
      /* Turn the arrow white without touching claros svg background image */
      filter: brightness(1000%) grayscale(100%);
    }
  }
  > .details-wrapper {
    padding: 0;
    > .horizontal-tabs {
      margin: 0 -1px -1px -1px;
    }
  }
}
details[id*="layout-options"] {
  > .details-wrapper {
    // The field order is kinda randomized. Ensure the Description and class fields
    // are the last ones.
    display: flex;
    flex-direction: column;
    > .form-item {
      margin: 0 0 1rem 0;
    }
    > .form-item--layout-paragraphs-config-extra-classes {
      order: 98;
    }
    > .form-item--layout-paragraphs-config-label {
      order: 99;
    }
  }
}

/* Settings field value live previews */
/* ! Hint: The core layout builder sidebar styles overrides all colors with "#drupal-off-canvas *, #drupal-off-canvas :not(div)" */
/* !       ID selector + Wildcard. Great. So we have to use !important for all background and text colors. */
/* !       Also you have to set background:transparent !important; for items who shouldn't have a background. */
/* -- Field */
.form-wrapper--drowl-layouts-settings-preview {
  padding-left: calc(
    var(--layout-settings-field-image-width) +
      var(--layout-settings-grid-gutter-half)
  );
  position: relative;
  min-height: calc(var(--layout-settings-field-image-width) + 0.75em);
  background: transparent !important;
  margin-bottom: 1rem;
  &::before,
  &::after {
    display: none !important;
  }
  > .form-item {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}
.form-item-value-preview {
  position: absolute;
  left: 0;
  top: 0.75em;
  width: var(--layout-settings-field-image-width);
  height: var(--layout-settings-field-image-width);
  background: transparent !important;
}
/* -- Preview HTML include */
.layout-setting-preview {
  height: 100%;
  width: 100%;
  max-height: 120px;
  max-width: 120px;
  background: var(--adminimal-grey-light) !important;
  &__img {
    height: 100%;
    width: 100%;
    background: transparent !important;
    overflow: hidden;
    img {
      max-width: none;
      max-height: none;
    }
  }
  &__row {
    display: flex;
    height: 50%;
    width: 100%;
    position: relative;
    justify-content: center;
    transition-duration: 150ms;
    transition-property: align-items, justify-content;
    background: transparent !important;
  }
  &__cell {
    position: relative;
    z-index: 1;
    background-color: white !important;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    height: 100%;
    width: 15%;
    margin-left: 3%;
    margin-right: 3%;
    transition-duration: 150ms;
    transition-property: height, width, flex-basis, margin;
  }
  &__container {
    position: absolute;
    top: 32%;
    left: 15%;
    height: 50%;
    width: 70%;
    background-color: white !important;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    transition-duration: 150ms;
    transition-property: width, left;
  }
  &__ipsum {
    position: absolute;
    top: 32%;
    left: 15%;
    height: 50%;
    width: calc(70% - 2px);
    font-size: 6px;
    text-align: justify;
    line-height: 1.1;
    color: var(--drowl-text-color) !important;
    padding: 2px;
    transition-duration: 150ms;
    transition-property: width, left;
    overflow: hidden;
    background: transparent !important;
    box-sizing: content-box;
  }
  /* === Section width === */
  &__page {
    position: relative;
    background: var(--drowl-green) !important;
    width: 70%;
    height: 90%;
    top: 5%;
    left: 15%;
    outline: 1px solid var(--drowl-green-text-color);
    &::before {
      content: "";
      position: absolute;
      height: 10px;
      width: 100%;
      left: 0;
      top: 0;
      background-color: var(--drowl-green-text-color) !important;
    }
    &::after {
      /* Menu items */
      content: "";
      position: absolute;
      height: 2px;
      width: 75%;
      left: 2%;
      top: 4px;
      background: linear-gradient(
        90deg,
        transparent 50%,
        var(--drowl-green) 50%
      ) !important;
      background-size: 25% 100% !important;
    }
  }
  &--alignment,
  &--width {
    background: var(--drowl-green) !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--width .layout-setting-preview__cell {
    /* Auto width cells via flexbox */
    flex: 1 1 auto;
    width: auto;
  }
}

.form-item-value-preview.layout-section-width {
  &[data-value-preview*="viewport-width"] .layout-setting-preview__container {
    width: 100%;
    left: 0;
  }
  &[data-value-preview="viewport-width"] .layout-setting-preview__ipsum {
    box-shadow: -1px 0 0 red, 1px 0 0 red;
    width: calc(100% - 2px);
    left: 1px;
  }
  &[data-value-preview="viewport-width-cp"] .layout-setting-preview__ipsum {
    box-shadow: -1px 0 0 red, 1px 0 0 red;
  }
  &[data-value-preview="viewport-width-column-first"] {
    .layout-setting-preview__container {
      width: 85%;
    }
    .layout-setting-preview__ipsum {
      box-shadow: -1px 0 0 red, 1px 0 0 red;
      width: calc(85% - 1px);
      left: 1px;
    }
  }
  &[data-value-preview="viewport-width-column-last"] {
    .layout-setting-preview__container {
      width: 85%;
      left: 15%;
    }
    .layout-setting-preview__ipsum {
      box-shadow: -1px 0 0 red, 1px 0 0 red;
      width: calc(85% - 1px);
      left: auto;
      right: 1px;
    }
  }
}

/* === Vertical alignment === */
.layout-setting-preview--alignment .layout-setting-preview__row::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.35) !important;
}
.form-wrapper--drowl-layouts-settings-preview[id*="layout-align-cells-vertical-wrapper"]
  .layout-setting-preview--alignment
  .layout-setting-preview__cell:nth-child(2) {
  height: 50%;
}
.form-wrapper--drowl-layouts-settings-preview[id*="layout-align-cells-vertical-wrapper"]
  .layout-setting-preview--alignment
  .layout-setting-preview__cell:nth-child(3) {
  height: 25%;
}
.form-item-value-preview[data-value-preview="middle"]
  .layout-setting-preview--alignment
  .layout-setting-preview__row {
  align-items: center;
}
.form-item-value-preview[data-value-preview="bottom"]
  .layout-setting-preview--alignment
  .layout-setting-preview__row {
  align-items: flex-end;
}
.form-item-value-preview[data-value-preview=""]
  .layout-setting-preview--alignment
  .layout-setting-preview__row,
.form-item-value-preview[data-value-preview="stretch"]
  .layout-setting-preview--alignment
  .layout-setting-preview__row {
  align-items: stretch;
}
.form-item-value-preview[data-value-preview=""]
  .layout-setting-preview--alignment
  .layout-setting-preview__cell,
.form-item-value-preview[data-value-preview="stretch"]
  .layout-setting-preview--alignment
  .layout-setting-preview__cell {
  height: 100% !important;
}
/* === Horizontal alignment === */
/* .form-item--layout-align-children-horizontal{ } */
.form-item-value-preview[data-value-preview="center"]
  .layout-setting-preview--alignment
  .layout-setting-preview__row {
  justify-content: center;
}
.form-item-value-preview[data-value-preview="right"]
  .layout-setting-preview--alignment
  .layout-setting-preview__row {
  justify-content: flex-end;
}
.form-item-value-preview[data-value-preview="left"]
  .layout-setting-preview--alignment
  .layout-setting-preview__row {
  justify-content: flex-start;
}
.form-item-value-preview[data-value-preview="justify"]
  .layout-setting-preview--alignment
  .layout-setting-preview__row {
  justify-content: space-between;
}
.form-item-value-preview[data-value-preview="spaced"]
  .layout-setting-preview--alignment
  .layout-setting-preview__row {
  justify-content: space-evenly;
}
.form-item-value-preview[data-value-preview="spaced"]
  .layout-setting-preview--alignment
  .layout-setting-preview__cell {
  margin: 0;
}
