{% extends "@drowl_layouts/layouts/drowl-layout-base.html.twig" %}
{#
/**
 * @file
 * Template for a 3 cell stacked panel layout.
 *
 * This template provides a three cell panel display layout, with
 * each cell roughly equal in width.
 *
 * Variables:
 * - id: An optional CSS id to use for the layout.
 * - css_classes: Optional CSS classes to use for the layout.
 * - content: An array of content, each item in the array is keyed to one
 *   panel of the layout. This layout supports the following sections:
 *   - content.top: Content in the stacked top region (Inherited from drowl-layout-base.html.twig)
 *   - content.cell_1: Content in cell 1 region
 *   - content.cell_2: Content in cell 2 region
 *   - content.cell_3: Content in cell 3 region
 *   - content.bottom: Content in the stacked top region (Inherited from drowl-layout-base.html.twig)
 */
#}

{# Pre-render Regions to have a proper empty check (see https://www.drupal.org/project/twig_real_content) #}
{% set cell_1_rendered = content.cell_1|render %}
{% set cell_2_rendered = content.cell_2|render %}
{% set cell_3_rendered = content.cell_3|render %}

{% block layout_outer %}
    {# Per layout cell configuration #}
    {% set column_width = layout_settings.column_widths|default('33-33-33') %}

    {% set content_cell_1_classes = [
        'drowl-layout__region--cell-1',
        column_width == '33-33-33' ? 'medium-4',
        column_width == '50-25-25' ? 'medium-12',
        column_width == '50-25-25' ? 'large-6',
        column_width == '25-25-50' ? 'medium-6',
        column_width == '25-25-50' ? 'large-3',
        column_width == '25-50-25' ? 'medium-3'
    ]|merge(default_cell_classes) %}

    {% set content_cell_2_classes = [
        'drowl-layout__region--cell-2',
        column_width == '33-33-33' ? 'medium-4',
        column_width == '50-25-25' ? 'medium-6',
        column_width == '50-25-25' ? 'large-3',
        column_width == '25-25-50' ? 'medium-6',
        column_width == '25-25-50' ? 'large-3',
        column_width == '25-50-25' ? 'medium-6'
    ]|merge(default_cell_classes) %}

    {% set content_cell_3_classes = [
        'drowl-layout__region--cell-3',
        column_width == '33-33-33' ? 'medium-4',
        column_width == '50-25-25' ? 'medium-6',
        column_width == '50-25-25' ? 'large-3',
        column_width == '25-25-50' ? 'medium-12',
        column_width == '25-25-50' ? 'large-6',
        column_width == '25-50-25' ? 'medium-3'
    ]|merge(default_cell_classes) %}

    <div {{ attributes.addClass(layout_classes) }}>
        {% block layout_region_top %}
            {{ parent() }}
        {% endblock layout_region_top %}
        {% block layout_regions %}
            {% if content['#drowl_layouts_force_render'] or (cell_1_rendered is real_content) or
                  (cell_2_rendered is real_content) or
                  (cell_3_rendered is real_content)
            %}
                <div {{ row_attributes.addClass(row_classes) }}>
                    {% if content['#drowl_layouts_force_render'] or (cell_1_rendered is real_content) %}
                        <div {{ region_attributes.cell_1.addClass(content_cell_1_classes) }}>
                            {{ cell_1_rendered }}
                        </div>
                    {% endif %}
                    {% if content['#drowl_layouts_force_render'] or (cell_2_rendered is real_content) %}
                        <div {{ region_attributes.cell_2.addClass(content_cell_2_classes) }}>
                            {{ cell_2_rendered }}
                        </div>
                    {% endif %}
                    {% if content['#drowl_layouts_force_render'] or (cell_3_rendered is real_content) %}
                        <div {{ region_attributes.cell_3.addClass(content_cell_3_classes) }}>
                            {{ cell_3_rendered }}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {% endblock layout_regions %}
        {% block layout_region_bottom %}
            {{ parent() }}
        {% endblock layout_region_bottom %}
    </div>
{% endblock layout_outer %}
