{#
/**
 * @file
 * DROWL Layouts Media-Object Compoenent Layout
 *
 * Variables:
 * - css_id: An optional CSS id to use for the layout.
 * - content: An array of content, each item in the array is keyed to one
 *   panel of the layout. This layout supports the following sections:
 *   - content.media: Media Objects Video/Image
 *   - content.title: Media Objects Title
 *   - content.subline: Media Objects Subline
 *   - content.contents: Media Objects Contents, typically a teaser text
 *   - content.links: Media Objects Link-Section, typically used for a button
#}

{# Pre-render Regions to have a proper empty check (see https://www.drupal.org/project/twig_real_content) #}
{% set media_rendered = content.media|render %}
{% set title_rendered = content.title|render %}
{% set subline_rendered = content.subline|render %}
{% set contents_rendered = content.contents|render %}
{% set links_rendered = content.links|render %}

{%
  set media_object_classes = [
    'media-object',
    'media--layout'
  ]
%}

{# Merge custom classes set by the user #}
{% if settings.extra_classes and settings.extra_classes|length > 1 %}
  {% set media_object_classes = media_object_classes|merge(settings.extra_classes|split(' ')) %}
{% endif %}

{%
  set title_classes = [
    'media-object__title',
    subline_rendered is real_content or content['#drowl_layouts_force_render'] ? 'has-subline'
  ]
%}

{% block layout_outer %}
  <div {{ attributes.addClass(media_object_classes) }}>
    {% block layout_media_object_media %}
      {% if media_rendered is real_content or content['#drowl_layouts_force_render'] %}
        <div {{ region_attributes.media.addClass('media-object-section', 'media-object__image') }}>
          {{ media_rendered }}
        </div>
      {% endif %}
    {% endblock layout_media_object_media %}
    <div class="media-object-section main-section media-object__content">
      {% block layout_media_object_content %}
        {% if title_rendered is real_content or content['#drowl_layouts_force_render'] %}
          <div {{ region_attributes.title.addClass(title_classes) }}>
            {{ title_rendered }}
          </div>
        {% endif %}
        {% if subline_rendered is real_content or content['#drowl_layouts_force_render'] %}
          <div {{ region_attributes.subline.addClass('media-object__subline', 'subline', 'field-container', 'field-container--inline') }}>
            {{ subline_rendered }}
          </div>
        {% endif %}
        {% if contents_rendered is real_content or content['#drowl_layouts_force_render'] %}
          <div {{ region_attributes.contents.addClass('media-object__teaser') }}>
            {{ contents_rendered }}
          </div>
        {% endif %}
        {% if links_rendered is real_content or content['#drowl_layouts_force_render'] %}
          <div {{ region_attributes.links.addClass('media-object__buttons') }}>
            {{ links_rendered }}
          </div>
        {% endif %}
      {% endblock layout_media_object_content %}
    </div>
  </div>
{% endblock layout_outer %}
