{% extends "@drowl_layouts/layouts/drowl-layout-base.html.twig" %}
{#
/**
 * @file
 * "Dynamic Content Grid":
 * Technically this is a layout with only one region, the layout will be
 * created from direct childs of this region by a CSS Grid or/and Flexbox.
 *
 * Variables:
 * - css_id: An optional CSS id to use for the layout.
 * - content: An array of content, each item in the array is keyed to one
 *   panel of the layout. This layout supports the following sections:
 *   - content.main
#}

{# Pre-render Regions to have a proper empty check (see https://www.drupal.org/project/twig_real_content) #}
{% set main_rendered = content.main|render %}

{% block layout_regions %}
    {#
        It seems there is no good value to use as a "ID" to match the according CSS styles here.
        So for now, we use a random number (see dynamic_grid_style_id).
    #}
    {% set dynamic_grid_style_id = random(1, 9999999) %}
    {% set grid_gutter_size = layout_settings.layout_dynamic_grid_gutter_size|default('md') %}

    {% set classes = [
        'drowl-layout__region',
        'drowl-layout__region--main',
        'dynamic-grid',
        'dynamic-grid--' ~ dynamic_grid_style_id,
        layout_settings.layout_align_cells_vertical ? 'dynamic-grid--align-' ~ layout_settings.layout_align_cells_vertical,
        layout_settings.layout_align_cells_horizontal ? 'dynamic-grid--justify-' ~ layout_settings.layout_align_cells_horizontal,
        ('dynamic-grid--gutter-' ~ grid_gutter_size)|clean_class
    ] %}

    {% block layout_inline_styles %}
        <style>
            .dynamic-grid--{{ dynamic_grid_style_id }}{
                --dynamic-grid-behavoir: {{ layout_dynamic_grid_behavoir|default('auto-fit') }};
                {% if layout_settings.layout_dynamic_grid_col_min_width|trim %}
                    --dynamic-grid-cell-min: {{ layout_settings.layout_dynamic_grid_col_min_width|trim ~ "px" }};
                {% endif %}
                {% if layout_settings.layout_dynamic_grid_col_max_width|trim %}
                    --dynamic-grid-cell-max: {{ layout_settings.layout_dynamic_grid_col_max_width|trim ~ "px" }};
                {% endif %}
            }
        </style>
    {% endblock %}

    {% block layout_region_top %}{% endblock layout_region_top %}
    {% if content['#drowl_layouts_force_render'] or (main_rendered is real_content) %}
        <div {{ region_attributes.main.addClass(classes) }}>
            {{ main_rendered }}
        </div>
    {% endif %}
    {% block layout_region_bottom %}{% endblock layout_region_bottom %}
{% endblock layout_regions %}
