{% extends "@drowl_layouts/layouts/drowl-layout-base.html.twig" %}
{#
/**
 * @file
 * Template for a 1 cell layout.
 *
 * Variables:
 * - css_id: An optional CSS id to use for the layout.
 * - content: An array of content, each item in the array is keyed to one
 *   panel of the layout. This layout supports the following sections:
 *   - content.main
#}

{# Pre-render Regions to have a proper empty check (see https://www.drupal.org/project/twig_real_content) #}
{% set main_rendered = content.main|render %}

{% block layout_regions %}
    {% block layout_region_top %}{% endblock layout_region_top %}
    {% if content['#drowl_layouts_force_render'] or (main_rendered is real_content) %}
        <div {{ region_attributes.main.addClass('drowl-layout__region', 'drowl-layout__region--main') }}>
            {{ main_rendered }}
        </div>
    {% endif %}
    {% block layout_region_bottom %}{% endblock layout_region_bottom %}
{% endblock layout_regions %}
