<div class="form-item-value-preview {{ field_related|clean_class }}">
  <div class="layout-setting-preview layout-setting-preview--section-width">
    <div class="layout-setting-preview__page"></div>
    <div class="layout-setting-preview__container"></div>
    <div class="layout-setting-preview__ipsum">Lor em ips um dol ar sit ame t dol ar. Lor em ips um dol ar sit ame t dol ar.</div>
  </div>
</div>